/*
 *= require bootstrap
 */

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

table td,th {
    border: 1px solid black;
    padding: 2px 8px;
}
